[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "highOrderPortfolios"]
	path = highOrderPortfolios
	url = https://github.com/dppalomar/highorderportfolios
[submodule "imputeFin"]
	path = imputeFin
	url = https://github.com/dppalomar/imputefin
[submodule "portfolioBacktest"]
	path = portfolioBacktest
	url = https://github.com/dppalomar/portfoliobacktest
[submodule "riskParityPortfolio"]
	path = riskParityPortfolio
	url = https://github.com/dppalomar/riskparityportfolio
[submodule "sparseEigen"]
	path = sparseEigen
	url = https://github.com/dppalomar/sparseeigen
[submodule "sparseIndexTracking"]
	path = sparseIndexTracking
	url = https://github.com/dppalomar/sparseindextracking
